*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
  background-color: lightgray;
}
header{
    height: 50px;
    background-color:skyblue;

}
h1{
    font-family: georgia, helvetica, arial;
    font-size: 30px;
    display: inline;
    text-align: left;
    margin: 20px 10px 10px 10px;
    font-weight: bold;


}
nav{
    position:relative;
    background-color: black;
    float: right;
    margin: 10px 10px 10px 10px;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 3px;
    font-family: arial, san-serif;
    font-size: 15px;
    font-weight: bold;
}

nav ul li{
    float: right;
    border-right: 1px solid white;

}
nav ul li a{
    display: inline;
    padding: 20px 28px;
    color: yellow;
    text-decoration: underline;
    font-size:20px;
    text-transform: uppercase;


}

nav ul li a:hover{

background-color: white;
color: blue;
transition: .9s;
}

.side{
    background-color: lightgray;
    float:left;
    width: 25%;
    padding: 10px;
    height: 1240px;


}

h2{
    font-family:georgia;
    font-size: 50px;
    text-decoration: underline;
}
 h3{
    font-family:georgia;
    font-size: 50px;
    text-decoration: underline;
 }

 p{
    text-align: justify;
    font-size: 20px;
    font-family: arial, georgia;
    margin: 20px 20px 20px 20px;

    height:200px;
}

.container{
    height:1000px;
    width: 75%;
    display:flex;
    float: right;
    background-color:skyblue;
    align-items:right;
    display: block;

}

.wrapper{
  height: 400px;
  border-color: black;
  color:white;
  font-size: 30px;
  font-family: georgia;
  width: 1012px;
  display: flex;
  display: block;
  margin-bottom: 10px;
  overflow:hidden;

}

.wrapper2{
  height: 600px;
  border-color: black;
  background-color: skyblue;
  width: 1012px;
  display: flex;
  display: block;
  margin-bottom: 10px;
  overflow:hidden;
}
.image1{
  margin-top: 10px;
  margin-left:500px;

}

.item{


    margin: 50px;
    padding: 50px;
    height:200px;
    width: 400px;
    float: center;
    font-size: 25px;
    font-family: georgia,arial;
    color: blue;
    flex: wrap;
    align-items: center;
    display: inline-block;


}

.footer{
    height: 50px;
    color: gray;
    background-color: black;
    font-family: georgia, arial;
    font-style: bold;
    font-size: 25px;
    text-decoration:underline;
    padding: 10px;
    }
  h4{
    text-align: left;
    margin-top: 20px;
    margin-left: 10px;
    padding-top: 20px;
    text-decoration: underline;
    font-size: 50px;
    font-weight: bold;
  }
  h5{
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 20px;
  }
  h6{
    text-decoration: underline;
    font-weight: bold;
    font-size: 25px;
    font-family: arial, sans-serif;
    margin: 50px;
    margin-left: 10px;

  }
p1:hover{
  font-size: 35px;
  background-color: yellow;

}
p2:hover{
  font-size: 35px;
  background-color: yellow;
}
p3:hover{
  font-size: 35px;
  background-color: yellow;
}
p4:hover{
  font-size: 35px;
  background-color: yellow;
}
p5:hover{
  font-size: 35px;
  background-color: yellow;
}
p6:hover{
  font-size: 35px;
  background-color: yellow;
}
p7:hover{
  font-size: 35px;
  background-color: yellow;
}
p8:hover{
  font-size: 35px;
  background-color: yellow;
}
p9:hover{
  font-size: 35px;
  background-color: yellow;
}
p10:hover{
  font-size: 35px;
  background-color: yellow;
}
@media only screen and(max-width: 930px){
.container{
  width: 244px;
}
.item{
  flex-direction:column;
  width: 244px;
}
.nav{
  flex-direction: column;
}


}
